<!DOCTYPE html>
{% load static %}
{% load text_filters %}
{% load render_bundle from webpack_loader %}
<html lang="ru" theme="dark">
<head>
    <title>{% block title %}Хайер 🐦 Клаб{% endblock %}</title>
    {% block fonts %}
        {% include "common/fonts.html" %}
    {% endblock %}
    {% block meta %}
        {% include "common/meta.html" %}
    {% endblock %}
    {% block og_tags %}
        {% include "common/og.html" %}
    {% endblock %}
    {% include "common/favicon.html" %}
    {% render_bundle "main" "css" %}
</head>
<body>

{% block body %}
    <main class="landing">
        <div class="landing-block landing-block-limited">
            <div class="landing-title">
                <br>
                <h1>Хайер Клаб</h1>
            </div>
        </div>
        <div class="landing-block landing-block-narrow" id="why">
            <div>
                <h4><a href="{% url "login" %}" class="button button-black" style="min-width: 300px;">Войти</a></h4>
                <h4><a href="{% url "join" %}" class="button button-black" style="min-width: 300px;">Зарегистрироваться</a></h4>
                <h2>ЗАЧЕМ?</h2>
                <p>
                    Здесь будет описание...
                </p>
                <p>
                    ...И здесь тоже
                </p>
            </div>
        </div>
        <div class="landing-block landing-block-limited" id="features">
            <h2 class="landing-block-title">Что внутри?</h2>
                <p>
                    Здесь будет описание...
                </p>
        </div>
        <div class="landing-block landing-block-limited">
            <h2>Здесь будет описание клуба</h2>
        </div>
        <div class="landing-block landing-screenshots hide-on-iphone">
            <h2>Здесь будут скрины</h2>
        </div>
        <div class="landing-block landing-block-limited">

            <div class="landing-block-50">
                <h3 class="feature-title">Студенческие организации</h3>
            </div>
        </div>
        <div class="landing-block landing-block-chats">
            <h2>Здесь будет описание чатов</h2>
        </div>
        <div class="landing-block landing-block-limited">
            <h2>Здесь будет описание клуба</h2>
        </div>

        <div class="landing-block landing-block-limited landing-block-map-title" id="map">
            <h3>Здесь будет описание клуба</h3>
        </div>
        <div class="landing-block landing-block-map">
            <h2>Здесь будет описание карты</h2>
            <div class="map-container">
                <div class="map-counters">
                    <h4>И здесь тоже</h4>
                </div>
            </div>
        </div>
        <div class="landing-block landing-block-narrow" id="join">
            <div>
                <h2 class="landing-block-title">Как вступить?</h2>
                <p>
                    Только для студентов Вышки
                </p>
                <p>
                    <h4><a href="{% url "login" %}" class="button button-black" style="min-width: 300px;">Войти</a></h4>
                    <h4><a href="{% url "join" %}" class="button button-black" style="min-width: 300px;">Зарегистрироваться</a></h4>
                </p>
            </div>
        </div>
    </main>
{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="footer-left" style="text-align: center; font-size: 130%;">
            <p>Хайер Клаб {% now "Y" %}</p>
        </div>
    </footer>
{% endblock %}

{% include "common/js.html" %}
{% block js %}{% endblock %}
</body>
</html>
